<!DOCTYPE html>
<html>

<head>
  <title>详情</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='/stylesheets/detail.css' />
  <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
  <script src="javascripts/jq.js" type="text/javascript" charset="utf-8"></script>
</head>

<body>
  <div class="Box">
    <div class="box">
      <h2 class="titleH"><%- detail.title%></h2>
      <p class="contP"><%- detail.con%></p>
      <a href="boke">返回发布页</a>
    </div>
   
  </div>
</body>
</html>