<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <!-- <div class="container shouye">
		<tr>
			<th>序号</th>
			<th>标题</th>
			<th>内容</th>
		</tr>
		<% data.map(function(item,i){ %>
			<tr>
				<td><%-i+1 %></td>
				<td><a href="/detail?id=<%- item._id%>"><%-item.title%></a></td>
				<td><button class="btn btn-danger delte">删除</button></td>
			</tr>
		<% }) %>
		<button class="test">测试王者荣耀</button>
	</div> -->
</body>
</html>