body{
    background: #ccc;
}
.box{
    border:1px solid skyblue;
    height:300px;
    overflow-y: auto;
    position: relative;
}
.box>a{
    position: fixed;
    left:100px;
    top:420px;
}
.xiugai{
    display: inline-block;
    margin:20px 0 0 100px;
}